
<%-include("navbar")%>

<div class="container p-5">
  <div class="row border rounded-3 p-3">
    <div class="col-md-12">
      <div class="banner d-flex align-items-center rounded-3">
        <h3 class="text-white px-3">Student Registration</h3>
        <div class="stripes"></div>
      </div>
    </div>
  </div>

  <form action="/admin/save_student" method="post" enctype="multipart/form-data">
    <div class="row border rounded-3 p-4 mt-5">
      
      <!-- Hidden Field for Status -->
      <input type="hidden" name="status" value="active" />

      <!-- Student Name -->
      <div class="col-md-4 mt-4">
        Student Name <b class="text-danger">*</b>
        <input type="text" name="std_name" class="form-control mt-2" placeholder="Enter full name" required/>
      </div>

      <!-- Mobile -->
      <div class="col-md-4 mt-4">
        Mobile Number <b class="text-danger">*</b>
        <input type="tel" name="std_phone" class="form-control mt-2" placeholder="Enter mobile number"  required/>
      </div>

      <!-- Email -->
      <div class="col-md-4 mt-4">
        Email <b class="text-danger">*</b>
        <input type="email" name="std_email" class="form-control mt-2" placeholder="Enter email address"  required/>
      </div>

      <!-- School Name -->
      <div class="col-md-4 mt-4">
        School Name <b class="text-danger">*</b>
        <input type="text" name="std_sc" class="form-control mt-2" placeholder="Enter school name" required />
      </div>

      <!-- Date of Birth -->
      <div class="col-md-4 mt-4">
        Date of Birth <b class="text-danger">*</b>
        <input type="date" name="std_dob" class="form-control mt-2" />
      </div>

      <!-- Class -->
      <div class="col-md-4 mt-4">
        Select Class <b class="text-danger">*</b>
        <select class="form-control mt-2" name="std_class" required>
          <option value="">Select Class</option>
          <option value="5th">5th</option>
          <option value="6th">6th</option>
          <option value="7th">7th</option>
          <option value="8th">8th</option>
          <option value="9th">9th</option>
          <option value="10th">10th</option>
          <option value="11th">11th</option>
          <option value="12th">12th</option>
        </select>
      </div>

      <!-- Address -->
      <div class="col-md-8 mt-4">
        Address <b class="text-danger">*</b>
        <textarea name="std_address" class="form-control mt-2" placeholder="Enter address" required></textarea>
      </div>

      <!-- Photo -->
      <div class="col-md-4 mt-4">
        Upload Photo <b class="text-danger">*</b>
        <input type="file" name="std_photo" class="form-control mt-2" accept="image/*" />
      </div>

      <!-- Submit Button -->
      <div class="col-md-12 mt-5 text-center">
        <button style="background-color: #4b3f91;" class="btn text-white">Register Student</button>
      </div>

    </div>
  </form>
</div>


<%-include("footer")%>