<%-include("navbar.ejs")%>

<div class="container p-5">
    <div class="row border rounded-3 p-3">
        <div class="col-md-12">
            <div class="banner d-flex align-items-center rounded-3">
            <h3 class="text-white px-3">Study Material</h3>
            <div class="stripes"></div>
           </div>
        </div>
    </div>
    <form action="">
    <div class="row">
        <div class="col-md-6">
            
        </div>
    </div>
    </form>
</div>    

<%-include("footer.ejs")%>